:root {
    /* PALLETE #1 */

    /* --dd-blue: #1a1a2e;
    --d-blue: #16213e;
    --blue: #0f3460;
    --red: #e94560; */

    /* PALLETE #2 */

    --blue: #120078;
    --eggplant: #9D0191;
    --red: #FE5360;
    --orange: #FF8D4D;
    --yellow: #F9F871;
    --bg-gradient: linear-gradient(to right bottom, #000000, #1d0110, #2a021f, #340033, #37004c, #3d005c, #41006e, #430080, #5c0085, #73008a, #88008e, #9d0191);
    --bg-gradient-lighter: linear-gradient(to right bottom, #120078, #430080, #640086, #81008c, #9d0191);
    --bg-gradient-btn-orange-red: linear-gradient(to left top, #ff8d4d, #ff7f4f, #ff7154, #ff6259, #fe5360);
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

    background-image: var(--bg-gradient-lighter);
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

@media only screen and (min-width: 360px) and (max-width: 767px) { 
    /* h1 {margin-top: 15%; } */
}
  
.form-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-container h1 {
    margin-bottom: 50px;

    font-size: 3.3em;
    text-align: center;
}

.form-container input, #login-button {
    margin: 22px;
    padding: 4px;
    height: 40px;
    width: 250px;
    
    display: block;

    border: none;
    border-radius: 3px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.4em;
}

*:focus {
    border: none;
    outline: none;
}

input:focus {
    box-shadow: 0 0 25px 13px var(--red);
    transition: 0.3s;
}

#login-button {
    background-image: var(--bg-gradient-btn-orange-red);
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
}

#login-button:hover, #login-button:focus {
    background-position: 100% 0;
    box-shadow: 0 0 25px 13px var(--red);
    cursor: pointer;
    transition: all .4s ease-in-out;

}

.form-question {
    margin: 22px;
    font-size: 0.9em;
}

.form-question * {
    display: inline;
}

.signup-register, .signup-register:visited {
    color: var(--orange);
}




/*<========= CSS TEMPLATE =========>
===| Position of the element |===
position
top
left
z-index

===| Block structure |===
margin
padding
width
height
border

===| Display structure |===
display
float
center
overflow

===| Other attributes |===
font-size
font-weight
text-decoration
color
background
<========= TEMPLATE END =========>*/