:root {
    /* PALLETE #1 */

    /* --dd-blue: #1a1a2e;
    --d-blue: #16213e;
    --blue: #0f3460;
    --red: #e94560; */

    /* PALLETE #2 */

    --blue: #120078;
    --eggplant: #9D0191;
    --red: #FE5360;
    --orange: #FF8D4D;
    --yellow: #F9F871;
    --bg-gradient: linear-gradient(to right bottom, #000000, #1d0110, #2a021f, #340033, #37004c, #3d005c, #41006e, #430080, #5c0085, #73008a, #88008e, #9d0191);
    --bg-gradient-lighter: linear-gradient(to right bottom, #120078, #430080, #640086, #81008c, #9d0191);
    --bg-gradient-btn-orange-red: linear-gradient(to left top, #ff8d4d, #ff7f4f, #ff7154, #ff6259, #fe5360);
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;

    background-image: var(--bg-gradient-lighter);
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

@media only screen and (min-width: 360px) and (max-width: 767px) { 
    /* h1 {margin-top: 15%; } */
}

/* Login and register form container */
.form-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Login and register page headings */
.form-container h1 {
    margin-bottom: 50px;

    font-size: 3.3em;
    text-align: center;
}

/* Styles for login/register form elements */
.form-container input, #login-button {
    margin: 22px;
    padding: 4px;
    height: 40px;
    width: 250px;
    
    display: block;

    border: none;
    border-radius: 3px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.4em;
}

#login-button {
    font-weight: normal;
    color: black
}

.form-container input:focus {
    box-shadow: 0 0 25px 13px var(--red);
    transition: .3s;
}

#login-button:hover {
    box-shadow: 0 0 25px 13px var(--red);
}

#login-button:active {
    box-shadow: 0 0 10px 5px var(--red);
    transition: all 0.1s;
    transform: translateY(3px);
}

/* Do you have an accout section underneath the login/register form */
.form-question {
    margin: 22px;
    font-size: 0.9em;
}

.form-question * {
    display: inline;
}

.signup-register, .signup-register:visited {
    color: var(--orange);
}

/* General style for all buttons */
.btn {
    border: none;
    padding: .4em .8em;

    background-image: var(--bg-gradient-btn-orange-red);
    background-size: 300% 100%;
    border-radius: 1px;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-weight: bolder;
    transition: all .3s ease-in-out;
}

.btn:hover, .btn:focus {
    background-position: 100% 0;
    box-shadow: 0 0 7px 3px var(--red);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:active {
    box-shadow: 0 0 4px 2px var(--red);
    transition: all 0.1s;
    transform: translateY(1px);
}

/* Main page app container */
.app-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
    width: 45%;
    min-width: 320px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Hello <username> heading on the main page */
#session-heading {
    margin: 0 0 10px;
    font-size: 2.3em;
    text-align: center;
}

/* Contains task counter and encouragement */
.counter-section {
    margin: 0 0 15px;

    display: flex;
    justify-content: space-between;
}

.counter-section * {
    display: inline-block;
}

#encourage {
    position: relative;
    top: 3px;
}

#task-number {
    position: relative;
    top: 1px;

    color: var(--red);
    font-size: 1.2em;
    font-weight: bolder;
}

/* New task heading */
.add-new-task-heading {
    margin: 0 0 10px;

}

/* New task form */
.new-task-form {
    margin: 0 0 10px;

    display: flex;
    justify-content: space-between;
}

input[name="taskInput"] {
    padding: 4px 2px;
    height: 30px;
    width: 250px;
    
    border: none;
    border-radius: 1px;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
}

input[name="taskInput"]:focus {
    box-shadow: 0 0 7px 3px var(--red);
    transition: all .3s ease-in-out;
}

.new-task-form button {
    height: 30px;
}

/* Table for tasks */
table { 
    border-collapse:collapse 
}

/* Tasks' checkboxes */
input[type="checkbox"]:hover {
    box-shadow: 0 0 7px 3px var(--red);
    transition: .3s;
    cursor: pointer;
}

/* Style applied when checkbox is ticked */
.completed-task {
    text-decoration: line-through;
}

/* Edit/Delete icons */
.fa-edit, .fa-trash {
    color: white;
}

/* Logout form */
.logout-form {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
}


/*<========= CSS TEMPLATE =========>
===| Position of the element |===
position
top
left
z-index

===| Block structure |===
margin
padding
width
height
border

===| Display structure |===
display
float
center
overflow

===| Other attributes |===
font-size
font-weight
text-decoration
color
background
<========= TEMPLATE END =========>*/